{% extends 'personal/home.html' %}
{% load static %}


{% block content %}
<div class="keep-link-active academics"></div>
<div class="content-section-head">
    <div class="section-tab curriculum tab-active">Course Curriculum</div>
    <div class="section-tab resources">Resources</div>
    <div class="section-tab resources">Resources</div>
    <div class="section-tab resources">Resources</div>
</div>
<div class="content-section-body">
    <div class="content-section section-active" id="curriculum">
        <h4>This is Curriculum.</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
            facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
            inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
            voluptas a nostrum illum quam saepe.</p>
    </div>
    <div class="content-section" id="resources">
        <h4>This is Resources.</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
            facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
            inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
            voluptas a nostrum illum quam saepe.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
            facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
            inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
            voluptas a nostrum illum quam saepe.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
            facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
            inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
            voluptas a nostrum illum quam saepe.</p>
    </div>
</div>
{% endblock %}