{% extends 'personal/home.html' %}
{% load static %}


{% block content %}
    <div class="keep-link-active opportunities"></div>
    <div class="content-section-head">
        <div class="section-tab internships tab-active">Internships</div>
        <div class="section-tab research_assistance">Research Assistance</div>
        <div class="section-tab jfr_srj">JFR/SRF</div>
    </div>
    <div class="content-section-body">
        <div class="content-section section-active" id="internships">
            <h4>This is Internships.</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
        </div>
        <div class="content-section" id="research_assistance">
            <h4>This is Research Assistance.</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
        </div>
        <div class="content-section" id="jfr_srj">
            <h4>This is JFR/SRF.</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
        </div>
    </div>
{% endblock %}