{% extends 'personal/home.html' %}
{% load static %}


{% block content %}
    <div class="keep-link-active people"></div>
    <div class="content-section-head">
        <div class="section-tab collaborators tab-active">Collaborators</div>
        <div class="section-tab faculty">Faculty</div>
        <div class="section-tab students">Students</div>
    </div>
    <div class="content-section-body">
        <div class="content-section section-active" id="collaborators">
            <h4>This is Collaborators.</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
        </div>
        <div class="content-section" id="faculty">
            <h4>This is Faculty.</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
        </div>
        <div class="content-section" id="students">
            <h4>This is Students.</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
        </div>
    </div>
{% endblock %}