{% extends 'personal/home.html' %}
{% load static %}


{% block content %}
    <div class="keep-link-active research"></div>
    <div class="content-section-head">
        <div class="section-tab cryptography tab-active">Applied Cryptography</div>
        <div class="section-tab hw_security">Hardware Security</div>
    </div>
    <div class="content-section-body">
        <div class="content-section section-active" id="cryptography">
            <h4>This is Cryptography.</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
        </div>
        <div class="content-section" id="hw_security">
            <h4>This is Hardware Security.</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ea iusto laudantium aliquid repellendus mollitia
                facere, tempora incidunt veritatis repudiandae sed dolore odio dicta necessitatibus rem consectetur ullam, eligendi
                inventore quia quis? Natus, delectus, laudantium obcaecati atque quidem quae sint error exercitationem inventore at
                voluptas a nostrum illum quam saepe.</p>
        </div>
    </div>
{% endblock %}