<nav class="sidenav">
    <div class="sidenav-head">
    </div>
    <div class="sidenav-body">
        <a href="{% url 'home' %}" class="sidenav-item sidenav-item-active" id="home">
            <div class="item-text flex-center-vertical">Home</div>
            <div class="item-icon">
                <i class="fad fa-home-lg-alt"></i>
            </div>
        </a>
        <a href="{% url 'academics' %}" class="sidenav-item" id="academics">
            <div class="item-text flex-center-vertical">Academics</div>
            <div class="item-icon">
                <i class="fad fa-chalkboard-teacher"></i>
            </div>
        </a>
        <a href="{% url 'research' %}" class="sidenav-item" id="research">
            <div class="item-text flex-center-vertical">Research</div>
            <div class="item-icon">
                <i class="fad fa-analytics"></i>
            </div>
        </a>
        <a href="{% url 'people' %}" class="sidenav-item" id="people">
            <div class="item-text flex-center-vertical">People</div>
            <div class="item-icon">
                <i class="fad fa-users"></i>
            </div>
        </a>
        <a href="{% url 'happenings' %}" class="sidenav-item" id="happenings">
            <div class="item-text flex-center-vertical">Happenings</div>
            <div class="item-icon">
                <i class="fad fa-calendar-edit"></i>
            </div>
        </a>
        <a href="{% url 'labs' %}" class="sidenav-item" id="labs">
            <div class="item-text flex-center-vertical">Labs</div>
            <div class="item-icon">
                <i class="fad fa-network-wired"></i>
            </div>
        </a>
        <a href="{% url 'placements' %}" class="sidenav-item" id="placements">
            <div class="item-text flex-center-vertical">Placements</div>
            <div class="item-icon">
                <i class="fad fa-user-graduate"></i>
            </div>
        </a>
        <a href="{% url 'opportunities' %}" class="sidenav-item" id="opportunities">
            <div class="item-text flex-center-vertical">Opportunities</div>
            <div class="item-icon">
                <i class="fad fa-chart-network"></i>
            </div>
        </a>
        <a href="{% url 'contact' %}" class="sidenav-item" id="contact">
            <div class="item-text flex-center-vertical">Contact</div>
            <div class="item-icon">
                <i class="fad fa-paper-plane"></i>
            </div>
        </a>
    </div>
</nav>