@import url('./variables.css');


main {
    min-height: 100vh;
}

.top-bar-fixed {
    position: fixed;
    width: 100%;
    height: var(--topbar-height);

    display: flex;
    /* flex-direction: row; */
    background-color: var(--grey-100);
}

.site-body {
    display: flex;

    /* margin-top: var(--topbar-height); */
}

.bars-icon, .toggle-logo {
    width: var(--sidebar-width);
    height: var(--topbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}

.toggle-logo {
    position: absolute;
    /* background-color: rgb(206, 206, 206); */

    /* z-index: 10; */
}

.toggler {
    width: 6rem;
    /* letter-spacing: .05rem; */
    font-size: 2.5rem;

    border: none;
    background: none;

    border: .1rem solid var(--grey-300);
    border-left: .5rem solid var(--grey-300);
    border-right: .5rem solid var(--grey-300);

    border-radius: 5px;

    font-weight: 900;
    color: var(--light-blue-1);
    /* background-color: rgb(99, 145, 206); */
    font-family: var(--font-lobster);
}

.site-title {
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    font-family: var(--font-bree);
    /* text-transform: uppercase; */

    color: var(--grey-600);
    /* z-index: 10; */
}

.fad.fa-bars {
    font-size: 2.5rem;
    margin: .1rem 0 0 .4rem;
}

.sidenav {
    position: fixed;
    width: var(--sidebar-width);
    height: var(--body-minheight);
    /* border: 1px solid red; */
    margin-top: var(--topbar-height);

    background-color: var(--grey-100);

    font-family: var(--font-bree);

    /* border-top-right-radius: 10px; */
    /* z-index: 10; */

    /* left: -4rem; */

    /* transition: left 5s; */
    transition: width 1s;
}

/* .sidenav:hover {
    left: -10rem;
    width: 20rem;
} */

@keyframes collapse-sidenav {
    0% {
        left: 0;
    }

    100% {
        left: var(--sidenav-collapse-left);
    }
}

.sidenav-collapse {
    animation: collapse-sidenav var(--nav-collapse-time) ease-in-out forwards;
}

@keyframes un-collapse-sidenav {
    0% {
        left: var(--sidenav-collapse-left);
    }

    100% {
        left: 0;
    }
}

.sidenav-un-collapse {
    animation: un-collapse-sidenav var(--nav-collapse-time) ease-in-out forwards;
}

.sidenav-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav-item {
    width: 90%;
    display: flex;
    padding: .2rem .5rem;
    margin: 1rem 0;
    background-color: var(--grey-300);

    /* box-shadow: 1px 1px 5px inset; */
    /* box-shadow: 1px 1px 5px; */
    border-radius: 2px;
}

.sidenav-item-active {
    color: var(--grey-300);
    background-color: var(--grey-600);
}

.item-text {
    flex: 2;
    font-size: 1rem;
    /* border: 1px solid red; */
}

.item-icon {
    flex: 1;
    font-size: 1.5rem;
    text-align: right;
    /* border: 1px solid red; */
}